@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-black text-white antialiased;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px #FFD700;
    text-stroke: 2px #FFD700;
  }
  
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}
